html{
    font-family: Inter, Ubuntu, 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.cabecera {
    background-color: #004AA1 !important;
    padding: 2rem;
}
.header h1 {
    color: white;
}

/* Estilos del slider deslizante */
#slider-round {
    height: .75rem;
}

#slider-round .noUi-target {
    border-radius: 12px !important;
    border: 0 !important;
}

#slider-round .noUi-connect {
    background: #008FD5;
    border-style: none;
    border-radius: .75rem;
}
#slider-round .noUi-connects {
    background: #EFF2F6;
    border-radius: .75rem;
    overflow: hidden;
    z-index: 0;
}
#slider-round .noUi-touch-area {
    background: #008FD5;
    border-radius: 12px;
}

#slider-round .noUi-handle {
    height: 1.5rem;
    width: 1.5rem;
    content: "";
    top: -0.416rem;
    /* right: -12px;  */
    /* right is the half of the width*/
    border: solid;
    border-color: rgb(255, 255, 255);
    border-width: .25rem;
    border-radius: .75rem;
}
#slider-round .noUi-tooltip {
    /* top: -2rem; */
    /* bottom: initial; */
    margin-bottom: .25rem;
    border-radius: .5rem;

}
#slider-round .noUi-tooltip::after {
    content: "";

}

#slider-round .noUi-handle-lower::before {
    display: none!important;
}
#slider-round .noUi-handle-lower::after {
    display: none!important;
}